
.App {
  height: 100vh;
  width: 100vw;

  .App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
   
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3%;
    margin-top: 10vh;


    .filters-section {
      width: 25%;
      margin-right: 2%;
      background-color: #F4F4F4 !important;
      padding: 0 2vw;
      border-radius: 4px;

      .filters-title {
        text-align: center;
      }

      .blue-title {
        color: #003479;
      }

      .title-filter-container{
        display: flex;

        .search-icon-wrap {
          background-color: #504B68;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover{
            cursor: pointer;
          }
        }
      
      }
      .MuiFormControlLabel-root.MuiFormControlLabel-labelPlacementEnd.css-j204z7-MuiFormControlLabel-root{
        color: #003479;
      }
      .reset-filters {
        color: #003479;
        text-decoration: underline;
        text-align: center;
        margin-top: 50px;
        &:hover {
          cursor: pointer;
        }

      }
    }

    .table-section {
      width: 70%;
      // Overrides Material UI Datagrid style
      .MuiDataGrid-root {
        border: none !important;
        background-color: #F4F4F4 !important;
        .MuiDataGrid-footerContainer {
          justify-content: center;
          .css-jtlhu6-MuiTablePagination-root {
            color: #003479;
          }
        }
      }
      .MuiDataGrid-columnSeparator {
        display: none !important;
      }
      .MuiDataGrid-main {
        margin: 15px;
        width: auto !important;
        background-color: white;
        .MuiDataGrid-columnsContainer {
          background-color: #F4F4F4 !important;
          color: #003479;
        }
      }
    }
  }

  // Mobile

  $breakpoint-tablet: 768px;

  @media (max-width: $breakpoint-tablet) {
    .container {
      flex-direction: column;
      align-items: center;
      margin-top: 0;

      .filters-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5% 15%;
      }
      .table-section {
        width: 100%;
      }
    }
    
  }

}
